@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap");

:root {
  --primary: #032541;
  --secondary: #21d07a;
  --white: #fff;
}

body {
 font-family: cursive;
  padding: 0;
  margin: 0;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.btn {
  padding: 10px 15px;
  background-color: var(--secondary);
  color: var(--primary);
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  border: none;
  font-size: 1rem;
  transition: all 0.3s ease;
  line-height: 1.1;
}

.btn:hover {
  background-color: #1aa762;
  opacity: 1;
  cursor: pointer;
}

.btn:disabled {
  pointer-events: none;
  opacity: 0.5;
}

input:focus {
  outline: none;
}

/* Header Styles */
header {
  background-color: var(--primary);
}

header .inner-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

header a {
  color: var(--white);
  font-size: 1.25rem;
  text-decoration: none;
  transition: all 0.3s ease;
}

header a:hover {
  opacity: 0.7;
}

header .brand a {
  font-weight: 700;
  font-size: 1.5rem;
}

header .nav-links {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

header .nav-links li {
  display: inline-block;
  margin-right: 30px;
}

header .nav-links li:last-child {
  margin-right: 0;
}

/* Add Page */
.add-content {
  padding: 50px 0;
  max-width: 600px;
  margin: 0 auto;
}

.add-content .input-wrapper input {
  width: 100%;
  background-color: var(--primary);
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: var(--white);
  font-size: 1.25rem;
}

.results {
  padding: 0;
  margin: 0;
  margin-top: 20px;
}

.results li {
  list-style: none;
}

.result-card {
  display: flex;
  margin-bottom: 20px;
}

.result-card .poster-wrapper img,
.filler-poster {
  width: 75px;
  height: 113px;
  background-color: #dbdada;
  border-radius: 5px;
  margin-right: 15px;
  display: block;
  color: transparent;
}

.result-card .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.result-card .info .title {
  font-size: 1.25rem;
  color: var(--primary);
  font-weight: 600;
  margin: 0;
}

.result-card .info .release-date {
  font-size: 1.25rem;
  font-weight: 300;
  color: var(--primary);
  margin: 0;
}

.result-card .controls button {
  margin-right: 10px;
}

/* Movie Page */
.movie-page {
  padding: 30px 0;
}

.movie-page .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.count-pill {
  display: block;
  background-color: var(--secondary);
  padding: 5px 15px;
  font-size: 1.125rem;
  font-weight: 600;
  border-radius: 999px;
  color: var(--primary);
}

.movie-page .heading {
  color: var(--primary);
  margin: 0;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

@media (min-width: 992px) {
  .movie-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

.movie-card {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  border: 0;
  display: block;
}

.movie-card img {
  width: 100%;
  display: block;
}

.movie-card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}

.movie-card:hover .overlay {
  border: 3px solid var(--secondary);
}

.movie-card .inner-card-controls {
  display: inline;
  background-color: red;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  padding: 3px;
  opacity: 0;
  transition: all 0.3s ease;
}

.movie-card:hover .inner-card-controls {
  opacity: 1;
}
.movie-card1 .inner-card-controls1 {
  display: inline;
  background-color: red;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  padding: 3px;
  opacity: 0;
  transition: all 0.3s ease;
}
.movie-card:hover .inner-card-controls {
  opacity: 1;
}


.ctrl-btn {
  color: #fefefe;
  background-color: transparent;
  border: none;
  transition: all 0.3s ease;
  font-size: 1.25rem;
  padding: 5px;
  margin: 0;
}

.ctrl-btn:hover {
  color: var(--secondary);
  cursor: pointer;
}
.ctrl-btn1 {
  color: #032541;
  transition: all 0.3s ease;
 border:2px solid black;
  transition: all 0.3s ease;
  font-size: 1.25rem;
  padding: 5px;
  margin: 0;
  display: flex;
  
  font-family: cursive;
  font-size: medium;
  align-items: center;
  justify-content: center;
  
  border-radius: 20px;
}

.ctrl-btn1:hover {
 
  cursor: pointer;
  background-color: #1aa762;
}

.movie-page .no-movies {
  color: #c4c4c4;
  font-size: 3rem;
  text-align: center;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.movie-results {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.movie-home {
  min-height: 100vh;
   
    display: flexbox;
    
    justify-items: center;
  
    text-align: center;
    
    opacity: 0.85;
}

.movie-home .poster-wrapper1 img,
.filler-poster1 {
    width: 200px; /* Increased image width */
    height: 300px; /* Increased image height */
    background-color: #dbdada;
    border-radius: 5px;
    margin-bottom: 15px; /* Add margin at the bottom to separate each movie */
}

.movie-home .info1 {
    
    align-items: center; /* Align items at the center horizontally */
    text-align: center; /* Align text at the center */
}

.movie-home .info1 .header1 {
    margin-bottom: 10px; /* Add margin at the bottom to separate header from controls */
}

.movie-home .info1 .title1 {
    font-size: 1.5rem;
    color: var(--primary);
    font-weight: 600;
    margin: 0;
}

.movie-home .info1 .release-date1 {
    font-size: 1.25rem;
    font-weight: 300;
    color: var(--primary);
    margin: 0;
}

.movie-home .controls1 {
    display: flex;
    justify-content: center; /* Center buttons horizontally */
}

.movie-home .controls1 button {
    padding: 8px 16px; /* Adjust button padding */
    font-size: 1rem; /* Adjust button font size */
    background-color: var(--primary);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px; /* Add margin around buttons */
}
.movie-card .helper{
  display: flex;
  flex-direction: column;
}

/* src/authStyles.css */

.auth-container {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-box {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  max-width: 400px;
  width: 100%;
}

.auth-title {
  margin-bottom: 20px;
  color: #333333;
}

.auth-form {
  display: flex;
  flex-direction: column;
}

.auth-input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  font-size: 16px;
}

.auth-button {
  padding: 10px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.auth-button:hover {
  background-color: #0056b3;
}

.auth-error {
  color: #ff0000;
  margin-top: 10px;
}
.auth-success {
  color: #28a745;
  margin-top: 10px;
}
/* src/homeStyles.css */

.home-container {
  text-align: center;
  padding: 50px;
  font-family: Arial, sans-serif;
}

.home-buttons {
  margin-top: 20px;
}

.home-button {
  display: inline-block;
  margin: 10px;
  padding: 15px 25px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.home-button:hover {
  background-color: #0056b3;
}

.auth-buttons {
  margin-top: 20px;
}